//Todo: import font from google fonts
body {
    height: 100vh;
    margin: 0;
    font-family: 'Helvetica Neue','arial';
    background:#F7F7F7;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
img {
    width: 100%;
}
.nav-container {
    background: #0B2027;
    a {
        color:white;
    }
}
.sideContent{
    padding: 5em 2em 2em 1em;


}
.navigation{
    float: right;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        padding-left:2em;
        padding-top:2em;
        font-weight: bold;
        color:#182A3A;
    }
    a {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: inherit;
        margin: 0 var(--spacing, 0px);
        transition: margin .25s;
        
        &:hover {
            --spacing: 4px;
            --stroke: var(--line-active);
            --stroke-delay: .1s;
            --offset: 180px;
        }
    }
    a::after{
        content: "";
        background: #901111;
        color:white;
        mix-blend-mode: hard-light;
        
        width: calc(100%);
        height: 0;
        position: absolute;
        bottom: -4px;
        left: +15px;
        transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        
      }
      
      a:hover::after{
          height: calc(50%);
          
      }
      a:active {
        color:white;
      }

}
.logo {
    padding: 0em 3em 3em 0em;

    
    img{
        width: 5em;
        height: 5em;
    }
}
.button1{
    margin: 0.2em;
}
.button2{
    margin: 0.2em;
}
.button3{
    margin: 0.2em;
}

.mainText{
    position: absolute;
    top: 35%;
}
.hero {
    color: #182A3A;
    display: grid;
    text-align: center;
    .header{
        font-family: 'Georgia';
    }
    

    padding: 4em;

    nav {
        ul {
            display: flex;
            a {
                display: block;
                padding: 0.2em 1.5em;
                color:white;         
            }
            li {
                border: 2.5px solid #0AFFED;
                padding-top: 1.5%;
                padding-bottom:1.5%;
               
            }
            justify-content: center;
        }
        margin-top:4em;
    }
}
.hero-design, .social-header {
    display: none;
}
h1 {
    margin-bottom:0;
    margin-top:2em;
    padding:0;
    font-size: 3em;
}
h4 {
    font-weight: normal;
    font-size: 1em;
 
}
.based {
    margin-top: 0;
    padding-top: 0;
}
.who {
    color:#0AFFED;
    font-weight: bold;
}

.button1 {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    
}
.button3 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.txt-rotate, .ux {
    color: #901111;
    font-weight: bold;
}

.about {
    margin: 0em 18em 0em 18em;
    display: grid;
    grid-template-columns:65% auto;
}
.leftside {
    
    display: grid;
    grid-template-rows:55% auto;
    padding-right:20px;
    padding-top:50px;
    .abouttext{
        font-size: 1.5em;
        text-align: center;
    }

}
.rightside {
   

}
.animate {

    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-play-state: running;

}
@keyframes stretch {
    0% {
        transform: scale(1.5);
        border-radius: 90%;

    }
    100% {
        transform: scale(0.1);
        border-radius: 90%;

    }
}

//styling Content After landing page


.window {
    
    margin: 4em 18em;
    border-radius: 17px;
    color:#FBF8F4;
    font-family: 'poppins';
}

.project {

    display: grid;
    grid-template-columns:65% auto;
    border: 4px solid #901111;
    border-left: 0;
    .information {
        display: grid;
        align-content: center;
        padding: 4em 4em 4em 4.5em;
        background:#901111;
        border-radius: 15px;

        h2{
            font-family: 'Georgia', Courier, monospace;
            margin:0;
            font-size: 2.2em;
        }
        h5{
            opacity: 70%;
            margin:0;
            padding:0;
            font-size: 0.9em;
        }
        p{
            opacity: 90%;
            margin-top:3em;
            margin-bottom:3em;
        }
        .roles{
            margin-top:3em;
            margin-bottom:3em; 
        }
        ul{
            display: block;
            list-style-type: disc;
            margin-top: 1em;
            margin-bottom: 1 em;
            margin-left: 0;
            margin-right: 0;
            padding-left: 40px;
        }

    }
    .design {
        display: grid;
        align-content: center; 
        justify-content: end;
        background: white;
        background: url('http://i.stack.imgur.com/GySvQ.png');
        border-radius: 12px;
        

        img{
            width:15em;
            padding-top: 2em;
            padding-bottom: 2em;
            padding-right: 4.5em;
        }
    }
    .design2 {
        display: grid;
       
        background: white;
        background: url('http://i.stack.imgur.com/GySvQ.png');
        border-radius: 12px;
        overflow:hidden;

        img{
            width:250%;
            margin-left: -35%;
            margin-right: auto;

        }
    }
 
}

.recent {
    color:#182A3A;
    font-weight: bold;
    display: grid;
    justify-content: center;
    margin-top: 4em;
    padding-top: 3em;
    font-size: 1.5em;
    hr{
        width:40%;
        color:red;
        border: 0.01em solid #182A3A;
        border-radius: 3em;
        margin-top:0.3em;
    }
}

$bg: #f3f8fa;
$white: #fff;
$black: #182A3A;

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}




button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: #182A3A;
      border-radius: 1.625rem;
      .svg {
        position: absolute;
        width: 50px;
        height: 50px;
        left: -1px;
        top: 1px;
        transition-duration: 300ms;
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 57px;
      right:0;
      bottom: 0;
      padding: 0.75rem 0 0.75rem 0;
      margin: 0 0 0 1;
      color: $black;
      font-weight: 700;
      line-height: 1.6;
      text-align: left;
      text-transform: uppercase;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .svg {
        transform: translate(0.5rem, 0);
        transition-duration: 300ms;
      }
    }
    .button-text {
      color: $white;
    }
  }
}

@supports (display: grid) {

  #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}

//Contact Circle code
button {
    border: 0;
    position: relative;
}

button::before,
button::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.spin {
    height: 200px;
    width: 200px;
}

.spin::before,
.spin::after {
    top: 0;
    left: 0;
}

.spin::before {
    border: 2px solid transparent;
}

.spin:hover::before {
    border-top-color: #901111;
    border-right-color: #901111;
    border-bottom-color: #901111;
    transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s;
}

.spin::after {
    border: 0 solid transparent;
}

.spin:hover::after {
    border-top: 2px solid #901111;
    border-left-width: 2px;
    border-right-width: 2px;
    transform: rotate(270deg);
    transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
}

.circle1 {
    border-radius: 100%;
    box-shadow: none;
    background: white;
    color: white;
}

.circle1::before,
.circle1::after {
    border-radius: 100%;
}
.contact {
    padding-left:0em;
    padding-right: 0em;
    padding-bottom: 0em;
    padding-top:2em;
    height: 95vh;
    

}

.contact2 {
    background-image: url("../images/grid.svg");
    height: 90vh;
   
}







@media only screen and (min-width: 1050px) {
    .hero {
        height:100vh;
        
    }
    .social-header {
        display: grid;
        position: absolute;
        right:7.5%;
        top: 37%;
        img {
            width: 70%;
            padding: 0.5em;
        }

    }
    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        header {
            background: red;
        }
    }
    header {
        padding: 2em 2em 2em 6em;
    }
    .hero{
        display:grid;
        grid-template-columns: 60% auto;
        background: unset;
        padding:0;
        .content {
            padding:6.5em 8em 6em 8em;
            text-align: left;
            border-radius: 0px 0px 10px 0px;
            h1{
                font-size: 3em;
            }
            h4 {
                margin-top: 0em;
                font-weight: normal;
                font-size:1.8em;
                letter-spacing: 0.15em;
            }
        }
        nav{
            margin-top: 9em;
        }
    }
    .hero-design {
        display: unset;
        margin-left:-36%;
        margin-top: 0%;
        width: 70%;
    }

        .logo {
          
            img{
                width: 4em;
                height: 4em;
            }
        }
    .nav-container {
        
    }
}

@media only screen and (max-width: 1050px) {
    .logo {
        padding: 0px;
    }
    h1 {
        margin-top: 1.5em;
    }
}
@media only screen and (max-width: 490px) {
    .logo {
        padding: 0px;
    }
    h1 {
       font-size: 2em;
    }
    h4 {
        font-size: 1em;
     }

    .hero {
        nav {
            ul {
                display: flex;
                a {
                    display: block;
                    padding: 0.2em 1em;
                    color:white;
                    font-size: 0.7em;         
                }
                li {
                    border: 2px solid #901111;
                    padding-top: 1%;
                    padding-bottom:1%;
                   
                }
                justify-content: center;
            }
            margin-top:0em;
        }
    }
   
}

.wrapper {
    max-height: 120px;
    margin: 3em 25em 8em 25em;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    a, a:visited, a:hover, a:active {
        color: inherit;
    }
    .text{
        margin-top: 1em;
        font-size: 12px;
        line-height: 95%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-weight: bold;
        color: #901111; 
    }

}
.wrapper::-webkit-scrollbar{
   
   display: none;
}
.wrapper .item {
    border: 1px solid #901111;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    min-width: 100px;
    text-align: center;
   
    margin-right: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    img{
        width:3em;
    }

}
.aboutsection{
    height: 100vh;
}

