body {
    height: 100vh;
    margin: 0;
    font-family: 'Helvetica Neue';
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}

.nav-container {
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    a {
        color:green;
        display: block;
        padding: 0 1em;
        
    }
    ul {
        display: flex;
    }
}

 // changing navigation on mobile

 .hero{
    background: rgb(59,104,128);
    background: linear-gradient( rgba(59,104,128,1) 0%, rgba(30,52,71,1) 100%);
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
    
    .logo-container{

        padding: 0;
        display: flex;
        width: 12%;
        
    
    }

    
 }
 .hero-design,.side-nav {
     display: none;
 }

.sub {
    display: flex;
    margin: 0 auto;
    width: 250px;
}


// responsive media qu

@media only screen and (min-width: 1050px) {
    .hero {
        height: 85vh;
    }

}